In [2]:
import pandas as pd

In [4]:
# Read the CSV files
links = pd.read_csv('../data/ml-latest-small/links.csv')
movies = pd.read_csv('../data/ml-latest-small/movies.csv')
ratings = pd.read_csv('../data/ml-latest-small/ratings.csv')
tags = pd.read_csv('../data/ml-latest-small/tags.csv')

# Merge the dataframes based on common columns using inner join
merged_data = pd.merge(links, movies, on='movieId')
merged_data = pd.merge(merged_data, ratings, on='movieId')
merged_data = pd.merge(merged_data, tags, on=['movieId', 'userId'])

# If you want to get rid of duplicate or unnecessary columns, do that here
# drop the timestamp columns
merged_data.drop(['timestamp_x', 'timestamp_y'], axis=1, inplace=True)

# Save or print the merged data
merged_data.to_csv('../data/ml-latest-small/merged_data.csv', index=False)
merged_data.info()
merged_data.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3476 entries, 0 to 3475
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  3476 non-null   int64
 1   imdbId   3476 non-null   int64
 2   tmdbId   3476 non-null   float64
 3   title    3476 non-null   object
 4   genres   3476 non-null   object
 5   userId   3476 non-null   int64
 6   rating   3476 non-null   float64
 7   tag      3476 non-null   object
dtypes: float64(2), int64(3), object(3)
memory usage: 244.4+ KB

,movieId,imdbId,tmdbId,title,genres,userId,rating,tag
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336,4.0,pixar
1,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474,4.0,pixar
2,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,567,3.5,fun
3,2,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy,62,4.0,fantasy
4,2,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy,62,4.0,magic board game